.delete { color:#dc3545;margin-left:5px; }
.banner_span { border-right: none; border-top-right-radius: 0;border-bottom-right-radius: 0;background: transparent;}

#banner_image { border-top-left-radius: 0;border-bottom-left-radius: 0; }